<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="error" strict="true">
  <Appenders>
    <Console name="ConsoleAppender" target="SYSTEM_OUT">
      <PatternLayout>
        <Pattern>%d{yyyy-MM-dd hh:mm:ss a} %-5p %m%n</Pattern>
      </PatternLayout>
    </Console>
  </Appenders>
  <Loggers>
    <Logger name="com.linoma.gag" level="debug" additivity="false">
      <AppenderRef ref="ConsoleAppender" />
    </Logger>
    <Root level="debug">
      <AppenderRef ref="ConsoleAppender" />
    </Root>
  </Loggers>
</Configuration>